.homeWrapper {
  height: 100%;
}
.homeStatus-info{
 animation-name: status;
 animation-duration: 3s;
 animation-iteration-count: infinite;
 animation-timing-function: 3s;
 animation-direction: alternate-reverse;
 color: #2487b5;
 text-align: center;
}
@keyframes status{
  0%{
 color: #336c87;
 font-size: 22px;
  }
  100%{
 color: #2487b5;
 font-size: 24px;
   
  }
}
.homeFlex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.homeFlex a {
  text-decoration: none;
  color: #868585;
}
.homeImg-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  animation-name: home;
  animation-duration: 1s;
  animation-direction: alternate-reverse;
}
.homeImg {
  width: 220px;
  height: 150px;
  margin-top: 50px;
  border-radius: 5px;
  background-color: rgb(103, 61, 61);
  padding: 10px;
  cursor: pointer;
}

@keyframes home {
  0% {
    margin-left: 800%;
  }
  100% {
    margin-left: 10px;
  }
}

.homeBottom-text {
  font-size: 22px;
  border-bottom: 3px solid #483131;
  padding-top: 5px;
  color: rgb(166, 39, 39);
}

.homeClick {
  animation: home;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  top: 50%;
  padding-left: 3%;
  font-weight: 700;
  color: #ffffff;
  margin: 4px -8px;
  border-radius: 2px;
  background-color: #2487b5;
}
.loading {
  color: black;
  text-align: center;
  margin-top: 8%;
}

/*Media Query*/
@media (max-width: 940px) {
  .homeFlex {
    grid-template-columns: 2fr 2fr;
    align-items: center;
  }
  .homeImg {
    width: 320px;
  }
  .homeClick {
    display: none;
  }
}
@media (max-width: 700px) {
  .homeImg {
    width: 250px;
  }
}
@media (max-width: 600px) {
  .homeFlex {
    grid-template-columns: 1fr;
  }
  .homeImg {
    width: 320px;
  }
}
@media (max-width: 340px) {
  .homeImg {
    width: 100%;
  }
}